.box {
  background-color: white;
  border-radius: 20px;
  width: 700px;
  height: 100px;
  color: #ff6000;
  border: 2px solid #ff6000;
  font-weight: 600;
  padding-left: 10px;
  padding-top: 10px;
}
