@import "../../styles/variables";

.boardWrapper {
  background-color: white;
  width: 30%;

  .boardCategoryWrapper {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: aqua;
    margin-bottom: 20px;

    .boardCategoryDiv {
      color: var(--orange);
      font-size: 20px;
      font-weight: 700;
    }
  }

  .boardContentDiv {
    @include center-se();
    width: 100%;
    flex-direction: column;
    background-color: indigo;
    padding-bottom: 10px;
    border-bottom: 2px solid gray;

    .boardTitle {
      @include center-sb();
      flex-direction: row;
      width: 100%;
      font-size: 20px;
      font-weight: 700;
    }

    .moreButton {
      background-color: var(gray);
      color: gray;
      border: none;
      width: 80px;
      height: 35px;
      cursor: pointer;
      border-radius: 5px;
      font-weight: 600;
      font-size: 13px;
    }
  }
}

.boardContent {
  background-color: yellowgreen;
  width: 100%;
  height: 200px;
}
