@import "../styles/variables";

.bodyWrapper {
  width: 1180px;
  margin: auto;
  height: 2000px;
}

.home {
  padding-top: 80px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: green;
  width: 100%;
  height: 2000px;
}

.gyulMain {
  @include center();
  background-color: orange;
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
}

.lottieWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 110px;
  background-color: antiquewhite;
}

.lottieDiv {
  @include center();
  overflow: hidden;
  width: 150px;
  height: 150px;
  background-color: black;
}

.whereDiv {
  @include center();
  background-color: coral;
  height: 100px;
  font-weight: 700;
  font-size: 20px;
}

.boardParts {
  @include center-se;
  width: 100%;
  height: 400px;
  background-color: yellow;
  margin-top: 150px;
}

.carouselParts {
  @include center;
  width: 100%;
  height: 600px;
  background-color: deeppink;
  margin-top: 150px;
}
