.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 80%;
  margin-bottom: 40px;
}

.seemore {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}
.more_btn {
  padding: 10px 20px;
  width: fit-content;
  background-color: var(--orange);
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  margin-bottom: 40px;
  cursor: pointer;
  border: 0;
  &:hover {
    background-color: var(--hover);
  }
}
