.editor_button {
  position: fixed;
  bottom: 8%;
  right: 28%;
  background-color: var(--orange);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
