@import "./../../../styles/variables";

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  transition: opacity 0.15s linear;
  background-color: var(--gray);
  padding: 20px;

  opacity: 0.8;
  pointer-events: auto;
  z-index: 20;
  animation: modal 1s forwards;

  @keyframes modal {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.8;
    }
  }
  .none {
    display: none;
  }
}

.modalcontainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  @include center();
  pointer-events: none;
}

.modal {
  @include center-se();
  position: relative;
  width: 50rem;
  height: 30rem;
  background-color: var(--gray);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  pointer-events: auto;
  animation: modal 1s forwards;
  z-index: 110;

  @keyframes modal {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.9;
    }
  }
}

.button_modal {
  @include center();
  width: 100%;
}

.inter_box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  grid-auto-rows: 1rem;
  position: relative;
  width: 50rem;
  color: var(--orange);

  background-color: var(--gray);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 2rem 0;
  pointer-events: auto;
  animation: modal 0.6s forwards;
  z-index: 110;

  @keyframes modal {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.9;
    }
  }
  cursor: pointer;
  .text {
    @include center();

    &:hover {
      color: var(--green);
      transform: scale(1.2);
    }
  }
}
