.wrapper {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  background-color: var(--orange);
  width: 100%;
  height: 100px;
}

.logoWrapper {
  background-color: yellow;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.ulWrapper {
  background-color: green;
  width: 50%;
  height: 100%;
}

.loginWrapper {
  background-color: blue;
  width: 25%;
}

.ul {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  background-color: white;
  margin: 20px;
}

.li {
  background-color: gray;
  width: 100%;
  height: 100%;
}
