// 로고의 폰트 정보
//  font-weight: 700;
//  font-size: 20px;

@import "../../../styles/variables";

.wrapper {
  @include center();
  flex-direction: row;
  align-items: center;
  width: 1180px;
  height: 80px;
  border-bottom: 2px solid var(--orange);
  position: fixed;
  background-color: white;
  z-index: 10;
}

.logoWrapper {
  // @include center();
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--orange);
  font-weight: 700;
  font-size: 18px;
  width: 200px;
  height: 100%;
  flex-direction: row;
}

.imgDiv {
  @include center();
  margin-right: 20px;
}

.ulWrapper {
  width: 50%;
  height: 100%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ul {
  @include center();
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

.li {
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 18px;
  color: var(--orange);
}

.loginWrapper {
  width: 100%;
  height: 100%;
  @include center();
  width: 25%;
  padding-left: 30px;
}
