// font-family: 'Noto Sans KR', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
// font-family: 'Poppins', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// font-family: 'Be Vietnam Pro', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
// font-family: "GmarketSansBold";
@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
// font-family: "LeferiPoint-WhiteObliqueA";
@font-face {
  font-family: "LeferiPoint-WhiteObliqueA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  font-family: "Pretendard-Regular", sans-serif;
  --pretendard: "Pretendard-Regular", sans-serif;
  --notoSansKR: "Noto Sans KR", sans-serif;
  --poppins: "Poppins", sans-serif;
  --beVietnamPro: "Be Vietnam Pro", sans-serif;
  --gmarketSansBold: "GmarketSansBold", sans-serif;
  --leferiPointWhiteObliqueA: "LeferiPoint-WhiteObliqueA", sans-serif;

  // 적용법 var(--orange)
  --orange: #ff6000;
  --lightGreen: #8dc53e;
  --green: #019267;
  --whiteOrange: #ffe6c7;
  --gray: #eeeeee;
  --inputGray: #f8f8f8;
  --textGray: #b2b2b2;
}
