@import "@/styles/_variables.scss";

:root {
  font-family: $font-Pretendard;
}

@mixin center() {
  display: flex;
  align-items: center;
  justify-content: center;
}
//flexbox를 사용하여 요소를 수평 및 수직으로 가운데 정렬합니다.
@mixin center-sb() {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
//flexbox를 사용하여 요소를 수평으로 가운데 정렬하고 요소 사이의 간격을 균등하게 분배합니다.

@mixin center-se() {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
//flexbox를 사용하여 요소를 수평으로 가운데 정렬하고 요소 사이의 간격을 균등하게 분배합니다. 또한 첫번째 요소와 마지막 요소를 컨테이너의 양 끝에 배치합니다.

@mixin c-center() {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
//center()와 비슷하지만 flexbox의 flex-direction 속성을 column으로 설정하여 요소를 수직 방향으로 정렬합니다.

@mixin c-center-sb() {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
//center-sb()와 비슷하지만 flexbox의 flex-direction 속성을 column으로 설정하여 요소를 수직 방향으로 정렬합니다.

@mixin c-center-se() {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
//center-se()와 비슷하지만 flexbox의 flex-direction 속성을 column으로 설정하여 요소를 수직 방향으로 정렬합니다.
