@import "../styles/variables";
.all {
  background-color: var(--hover);
}
.bodyWrapper {
  max-width: 1000px;
  margin: auto;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.home {
  padding-top: 80px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
  height: auto;
}

.gyulMain {
  @include center();
  background-color: var(--orange);
  width: 100%;

  height: 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.lottieWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 110px;
  margin-left: -30px;
}

.lottieDiv {
  @include center();
  overflow: hidden;
  width: 120px;
  height: 150px;
  margin-top: 20px;
  background-color: black;
  margin-right: -20px;
}

.whereDiv {
  @include center();
  background-color: white;
  height: 100px;
  font-weight: 700;
  font-size: 16px;
  margin-top: 5px;
  padding-bottom: 10px;
}

.boardParts {
  @include c-center();
  width: 100%;
  margin: 20px auto;
}

.carouselParts {
  @include center;
  width: 100%;
  height: 600px;
}
