.buliding_wrapper {
  width: 80%;
  background-color: var(--inputGray);
  display: flex;
  flex-direction: column;
  padding: 20px;
  label {
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  input {
    border: none;
    padding: 15px;
    border-radius: 10px;

    &::placeholder {
      color: red;
    }
    ::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 20px; /* 1 */
      height: 40px;
      background: #fff;
      box-shadow: -200px 0 0 200px dodgerblue; /* 2 */
      border: 2px solid #999; /* 1 */
    }
  }
  input[type="range"] {
    border: none;
    padding: 0;
    border-radius: 10px;
    width: 200px;
    accent-color: var(--green);
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
