/* styles/MainCarousel.module.scss */
.carousel_wrapper {
  //w-full max-w-lg
  width: 100%;

  max-width: 770px; //310 310

  margin-bottom: 50px;
}

.carousel_viewer {
  overflow: hidden;
}

.carousel_slider {
  display: flex;
  width: 3000px;
  user-select: none;
  padding: 10px 10px;
  background-color: brown;
  .carousel_slide {
    background-color: red;
    width: 300px;
    height: 200px;
    margin-right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    &:last-child {
      margin-right: 0;
    }
  }
}
.carousel_ .carousel_slide {
  flex-shrink: 0;
}
