.title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 8px;
  text-align: left;
  width: 750px;
}

.carousel_wrapper {
  //w-full max-w-lg
  width: 100%;

  max-width: 770px; //310 310

  margin-bottom: 50px;
}

.carousel_viewer {
  overflow: hidden;
}

.carousel_slider {
  display: flex;
  width: 3000px;
  user-select: none;
  padding: 10px 10px;

  .carousel_slide {
    width: 300px;
    height: 180px;
    margin-right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      cursor: pointer;
      background-color: #ffab4f;
    }
  }
}
.carousel_ .carousel_slide {
  flex-shrink: 0;
}
