//fix css
@import "./../../../styles/variables";
.tab,
.active {
  @include center();

  width: 30%;
  height: 100%;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  color: var(--textGray);
  border-bottom: 3px solid white;
  font-family: var(--pretendard);
  background-color: white;
  &.active {
    color: var(--orange);
    border-bottom: 3px solid var(--orange);
  }
}
